/* search */
.search-form {
  display: flex;
  height: 40px;
}

.search-form input[type="search"] {
  flex: 1;
  min-width: 0;
  margin-right: 10px;
  border: 0;
  border-radius: 0.3em;
  font-size: 1rem;
}
.search-form input[type="submit"] {
  border: 0;
  border-radius: 0.3em;
  background: gold;
  font-size: 1rem;
  width: 4em;
}
